@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model barber_management_system.Models.Hizmet


<h1>Hizmet Güncelleme</h1>

@if(Model is null)
{
    <p>Hizmet Bulunamadı</p>

}
else
{
<form method="post">

    <div class="mt-3">
        <label class="form-label" >Id</label>
            <input type="text" class="form-control" asp-for="HizmetID" readonly />
    </div>

    <div class="mt-3">
        <label class="form-label">Ad</label>
            <input type="text" class="form-control" asp-for="HizmetAd" />
    </div>

    <div class="mt-3">
        <label class="form-label">Fiyat</label>
            <input type="text" class="form-control" asp-for="Fiyat" />
    </div>


   

    <div class="mt-3">
            <button type="submit" class="btn btn-primary">Save</button>

            <button type="submit" class="btn btn-danger ms-3"asp-controller="Hizmet"asp-action="Delete">Delete</button>
    </div>

</form>
}

