@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model barber_management_system.Models.MusteriViewModel

@{
    ViewData["Title"] = "Yeni Müşteri Ekle";
}

<h1>Yeni Müşteri Ekle</h1>


<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Ad" class="control-label"></label>
        <input asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SoyAd" class="control-label"></label>
        <input asp-for="SoyAd" class="form-control" />
        <span asp-validation-for="SoyAd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary" asp-controller="Müsteri" asp-action="Add">Save</button>
    </div>
  
    
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




